body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-clour{
    color: rgb(238, 157, 8);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 40px;
}
.half-width img{
     width: 100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(red,orange);
    padding: 10px 50px ;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    
    
}
.top-banner{
    background-image: url(../module-4/images/bbb.png );
    background-repeat: no-repeat;
}
.dream-big{
     background-image:url(../module-4/images/dream-bg.png) ;
     background-repeat: no-repeat;
     background-position: right;
    }
